@use "sass:color";

// MAIN COLORS
$primaryColor: #dff7ff;
$complementaryColor: #004462;
$brandColor: #1d1756;
$hoverColor: #01364d;

$highlightColor: #03142c;
$dangerColor: #7f1d1d;

// MIXIN: Set text color dynamically
@mixin setBackground($color) {
  background-color: $color;
  color: set-text-color($color);
}
// FUNCTIONS
@function set-text-color($color){
  @if(color.channel($color, "lightness", $space: hsl) > 70) { 
    @return $complementaryColor; 
  } @else {
    @return $primaryColor;
  }
}