@use '@/styles/scss/abstracts/' as *;

.buttonLink {
  padding: 0.3rem 1.5rem;
  text-align: center;
  font: inherit;
  cursor: pointer;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  background-color: transparent;
  border-radius: 3px;
  text-decoration: none;

  &:hover, &:active {
    background-color: $hoverColor;
    color: $primaryColor;
  }
}