@use '@/styles/scss/abstracts/' as *;

.articleMain {
  text-align: center;

  .imageBox {
    height: 19vh;
    overflow: hidden;
    position: relative;
  
    .nextImage {
      object-fit: cover;
      border-radius: 3px;
      // border-top-right-radius: 6px;
      // border-top-left-radius: 6px;
    }
  }

  .articleContent {
    padding: 0.5rem;
    margin: 0rem;

    h2 {
      font-size: 1em;
      color: $primaryColor;
    }
  }
}

.articleFooter {
  padding-bottom: 1.5rem;
  text-align: center;
}