@use '@/styles/scss/abstracts/' as *;

.articleMain {
  text-align: center;

  .imageBox {
    height: 30vh;
    overflow: hidden;
    position: relative;
  
    .nextImage {
      object-fit: cover;
      border-radius: 4px;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }
  }

  .articleContent {
    padding: 1rem;
    margin: 0rem;

    h2 {
      font-size: 1.3em;
      color: $primaryColor;
    }
  }
}

.articleFooter {
  padding-bottom: 2rem;
  text-align: center;
}